{% extends 'public/html/base.html' %}

{% block title %} FarmAdmin | Manajemen {% endblock %}

{% block profile_info %}
<a class="profile-pic" href="#">
  {% if profil_user.image %}
  <img src="{{ profil_user.image }}" alt="user-img" width="36" class="img-circle">
  {% else %}
  <img src="../static/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle">
  {% endif %}
  <span class="text-white font-medium">{{ profil_user.Nama_Penggilan }}</span>
</a>
{% endblock %}

{% block path %} Manajemen {% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <div class="container-fluid pt-3 pb-3 Light text-align" ">
          <h1 class=" display-6 text-left" id="manajemenlahan">Manajemen Lahan</h1>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Nama Lahan</th>
                  <th scope="col">Luas Lahan (m)</th>
                  <th scope="col">Jenis Tanaman yang Ditanam</th>
                  <th scope="col">Lokasi Lahan</th>
                  <th scope="col">Deskripsi</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for lahan in lahan_data %}
                <tr data-id-lahan="{{ lahan.id }}" data-nama-lahan="{{ lahan.nama }}" data-luas-lahan="{{ lahan.luas }}"
                  data-jenis-tanaman="{{ lahan.jenis_tanaman }}" data-lokasi="{{ lahan.lokasi }}"
                  data-deskripsi="{{ lahan.deskripsi }}" style="cursor: pointer;">
                  <td data-onclick="{{ lahan.id }}">{{ loop.index }}</td>
                  <td data-onclick="{{ lahan.id }}">{{ lahan.nama }}</td>
                  <td data-onclick="{{ lahan.id }}">{{ lahan.luas }}</td>
                  <td data-onclick="{{ lahan.id }}">{{ lahan.jenis_tanaman }}</td>
                  <td data-onclick="{{ lahan.id }}">{{ lahan.lokasi }}</td>
                  <td data-onclick="{{ lahan.id }}">{{ lahan.deskripsi }}</td>
                  <td>
                    <div class="m1-auto">
                      <div class="row">
                        <button class="col-6 btn btn-link text-primary" type="button" data-bs-toggle="modal"
                          data-bs-target="#ModalEditLahan{{ loop.index }}">
                          <i class="fas fa-pencil-alt"></i>
                        </button>
                      </div>
                      <!-- modal edit -->
                      <div class="modal fade" id="ModalEditLahan{{ loop.index }}" tabindex="-1"
                        aria-labelledby="ModalEditLahanLabel{{ loop.index }}" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="ModalEditLahanLabel{{ loop.index }}">Edit Data Lahan</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <!-- Edit Lahan -->
                              <form id="editForm">
                                <div class="mb-3">
                                  <label for="recipient-name" class="col-form-label">Nama Lahan</label>
                                  <input type="text" class="form-control" id="recipient-name" value="{{ lahan.nama }}">
                                </div>
                                <div class="mb-3">
                                  <label for="luas-lahan" class="col-form-label">Luas Lahan</label>
                                  <input type="number" class="form-control" id="luas-lahan" min="0"
                                    value="{{ lahan.luas }}">
                                </div>
                                <div class="mb-3">
                                  <label for="jenis-tanaman" class="col-form-label">Jenis Tanaman</label>
                                  <input type="text" class="form-control" id="jenis-tanaman"
                                    value="{{ lahan.jenis_tanaman }}">
                                </div>
                                <div class="mb-3">
                                  <label for="lokasi-lahan" class="col-form-label">Lokasi Lahan</label>
                                  <input type="text" class="form-control" id="lokasi-lahan" value="{{ lahan.lokasi }}">
                                </div>
                                <div class="mb-3">
                                  <label for="deskripsi-lahan" class="col-form-label">Deskripsi Lahan</label>
                                  <input type="text" class="form-control" id="deskripsi-lahan"
                                    value="{{ lahan.deskripsi }}">
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal
                                </button>
                                <button type="button" class="btn btn-primary" id="btnSubmit">Simpan Perubahan
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="m1-auto" id="modalAddLahan">
              <button type=" button" class="btn btn-primary text-white" data-bs-toggle="modal"
                data-bs-target="#ModalNewLahan"><i class="fas fa-plus" style="color: white;"></i> Tambah Lahan Baru
              </button>
              <div class="modal fade" id="ModalNewLahan" tabindex="-1" aria-labelledby="ModalNewLahanLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="ModalNewLahanLabel">Masukkan Data Lahan</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="POST" action="{{ url_for('manajemen') }}">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                          <label for="nama_lahan" class="col-form-label">Nama Lahan</label>
                          {{ form.nama_lahan(class="form-control", id="nama_lahan", required="required") }}
                        </div>
                        <div class="mb-3">
                          <label for="luas_lahan" class="col-form-label">Luas Lahan</label>
                          {{ form.luas_lahan(class="form-control", id="luas_lahan", required="required") }}
                        </div>
                        <div class="mb-3">
                          <label for="jenis" class="col-form-label">Jenis Tanaman</label>
                          {{ form.jenis_tanaman(class="form-control", id="jenis_tanaman", required="required") }}
                        </div>
                        <div class="mb-3">
                          <label for="lokasi_lahan" class="col-form-label">Lokasi Lahan</label>
                          {{ form.lokasi_lahan(class="form-control", id="lokasi_lahan", required="required") }}
                        </div>
                        <div class="mb-3">
                          <label for="deskripsi_lahan" class="col-form-label">Deskripsi Lahan</label>
                          {{ form.deskripsi_lahan(class="form-control", id="deskripsi_lahan", required="required") }}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('[data-onclick]').on('click', function () {
      // Mengambil data id lahan dari atribut data-onclick pada sel kolom
      var lahanId = $(this).data('onclick');

      // Mengarahkan ke halaman dengan menggunakan data yang didapatkan
      window.location.href = '/manajemen_lahan/' + lahanId;
    });
    $('button[data-bs-toggle="modal"]').on('click', function () {
      $('#btnSubmit').on('click', function () {
        var idLahan = $(this).closest('tr').data('id-lahan');
        var namaLahan = $('#recipient-name').val();
        var luasLahan = $('#luas-lahan').val();
        var jenisTanaman = $('#jenis-tanaman').val();
        var lokasiLahan = $('#lokasi-lahan').val();
        var deskripsiLahan = $('#deskripsi-lahan').val();

        var data = {
          'nama_lahan': namaLahan,
          'luas_lahan': luasLahan,
          'jenis_tanaman': jenisTanaman,
          'lokasi_lahan': lokasiLahan,
          'deskripsi_lahan': deskripsiLahan,
          'id_lahan': idLahan
        };

        fetch('/update_lahan', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
          .then(response => response.json())
          .then(data => {
            // Close the modal or perform other actions
            $('#ModalEditLahan').modal('hide');
            location.reload()
          })
          .catch(error => {
            // Handle errors
            console.error('Error:', error);
          });
      });
    });
  });

</script>
{% endblock %}