{% extends 'public/html/base.html' %}

{% block title %} FarmAdmin | Dashboard {% endblock %}

{% block profile_info %}
<a class="profile-pic" href="#">
    {% if profil_user.image %}
    <img src="{{ profil_user.image }}" alt="user-img" width="36" class="img-circle">
    {% else %}
    <img src="../static/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle">
    {% endif %}
    <span class="text-white font-medium">{{ profil_user.Nama_Penggilan }}</span>
</a>
{% endblock %}

{% block path %} Beranda {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Jumlah Lahan</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash"><canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-purple format-number" id="numberToFormat1"> {{
                            total_lahan }}</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Jumlah Panen</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash2"><canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-purple format-number" id="numberToFormat2">{{
                            total_hasil_panen }}</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Pendapatan</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash3"><canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-info format-number" id="numberToFormat3">{{
                            total_pendapatan }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Pengeluaran</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash3"><canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-info format-number" id="numberToFormat4">{{
                            total_pengeluaran }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- STATISTIK LAHAN -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Statistik Lahan</h3>
                <div class="d-md-flex">
                    <ul class="list-inline d-flex ms-auto">
                        {% for nama, styles in list_lahan %}
                        <li class="ps-3">
                            <h5><i class="fa fa-circle me-1" ; style="color: {{ styles }};"></i><a class="text-black-50"
                                    href="#">{{nama}}</a></h5>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="ct-visits" style="height: 50vh;">
                    <div class="chartist-tooltip" style="top: -17px; left: -12px;"><span
                            class="chartist-tooltip-value">6</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- AKTIVITAS HARIAN -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box" id="jadwalAktivitas">
                <div class="d-md-flex mb-3">
                    <h3 class="box-title mb-0">Jadwal Aktivitas Terdekat</h3>
                    <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                        <select class="form-select shadow-none row border-top" id="selectLahan">
                            <option value="semua">Semua Lahan</option>
                            {% for nama, styles in list_lahan %}
                            <option value="{{ nama }}">{{ nama }}</option>
                            {% endfor %}
                        </select>
                        <select class="form-select shadow-none row border-top" id="selectStatus">
                            <option value="semua">Semua Status</option>
                            <option value="Belum Selesai">Belum Selesai</option>
                            <option value="Progres">Progres</option>
                            <option value="Selesai">Selesai</option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap" id="jadwalAktivitasTable">
                        <thead>
                            <tr>
                                <th class="border-top-0">Nomor</th>
                                <th class="border-top-0">Tanggal</th>
                                <th class="border-top-0">Lahan</th>
                                <th class="border-top-0">Aktivitas</th>
                                <th class="border-top-0">Status</th>
                                <th class="border-top-0">Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pengeluaran, lahan, activity in list_aktifitas %}
                            <tr data-lahan="{{ lahan.id }}" data-status="{{ activity.status }}" data-keterangan="{{ lahan.keterangan }}" data-aktivitasid="{{ activity.id }}">
                                <td class="text-wrap">{{ loop.index }}</td>
                                <td class="txt-oflo">{{ pengeluaran.tanggal.strftime('%d %B %Y') }}</td>
                                <td class="text-wrap">{{ lahan.nama }}</td>
                                <td class="text-wrap">{{ pengeluaran.jenis_aktivitas }}</td>
                                {% if activity.status == "Belum Selesai" %}
                                <td class="justify-content-center"><button
                                        class="btn btn-md status-button btn-block btn-danger"
                                        onclick="changeStatus(this)">{{ activity.status }}</button></td>
                                {% elif activity.status == "Progres" %}
                                <td class="justify-content-center"><button
                                        class="btn btn-md status-button btn-block btn-warning"
                                        onclick="changeStatus(this)">{{ activity.status }}</button></td>
                                {% elif activity.status == "Selesai" %}
                                <td class="justify-content-center"><button
                                        class="btn btn-md status-button btn-block btn-success"
                                        onclick="changeStatus(this)">{{ activity.status }}</button></td>
                                {% endif %}
                                <td class="text-wrap">{{ pengeluaran.keterangan }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- TOTAL PENDAPATAN -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="d-md-flex mb-3">
                    <h3 class="box-title mb-0">Histori Pendapatan</h3>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">Tanggal</th>
                                <th class="border-top-0">Komoditas</th>
                                <th class="border-top-0">Harga per kw</th>
                                <th class="border-top-0">Jumlah (kwintal)</th>
                                <th class="border-top-0">Total</th>
                                <th class="border-top-0">Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hasil_panen, pendapatan in list_pendapatan %}
                            <tr>
                                <td class="text-wrap">{{ pendapatan.tanggal.strftime('%d %B %Y') }}</td>
                                <td class="text-wrap">{{ pendapatan.nama_barang }}</td>
                                <td class="text-wrap"><span class="txt-success format-number">{{ pendapatan.harga_barang | int}}</span></td>
                                <td class="text-wrap"><span class="txt-oflo">{{ pendapatan.jumlah }}</span></td>
                                <td class="text-wrap"><span class="txt-oflo format-number">{{ (pendapatan.harga_barang * pendapatan.jumlah)|int }}</span></td>
                                <td class="text-wrap"><span class="txt-oflo">{{ pendapatan.keterangan }}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- TOTAL PENGELUARAN -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="d-md-flex mb-3">
                    <h3 class="box-title mb-0">Histori Pengeluaran</h3>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">Tanggal</th>
                                <th class="border-top-0">Lahan</th>
                                <th class="border-top-0">Aktivitas</th>
                                <th class="border-top-0">Harga</th>
                                <th class="border-top-0">Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lahan, activity_lahan, pengeluaran in list_pengeluaran %}
                            <tr>
                                <td class="txt-oflo">{{ pengeluaran.tanggal.strftime('%d %B %y') }}</td>
                                <td class="text-wrap">{{ lahan.nama }}</td>
                                <td class="text-wrap">{{ pengeluaran.jenis_aktivitas }}</td>
                                <td class="text-wrap"><span class="txt-success format-number">{{ pengeluaran.total_pengeluaran | int
                                        }}</span></td>
                                <td class="text-wrap"><span class="txt-oflo">{{ pengeluaran.keterangan }}</span></td>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(function () {
        var labels = {{ chart_labels | tojson }};
        var seriesData = {{ chart_series | tojson }};

    //ct-visits
    new Chartist.Line(
        "#ct-visits",
        {
            labels: labels,
            series: seriesData,
        },
        {
            top: 0,
            low: 1,
            showPoint: true,
            fullWidth: true,
            plugins: [Chartist.plugins.tooltip()],
            axisY: {
                labelInterpolationFnc: function (value) {
                    return value / 1 + "jt";
                },
            },
        }
    );
    });

    document.addEventListener("DOMContentLoaded", function () {
        var selectLahan = document.getElementById("selectLahan");
        var selectStatus = document.getElementById("selectStatus");
        var jadwalAktivitasTable = document.getElementById("jadwalAktivitasTable");

        // Save the header row as a reference outside the event listener
        var headerRow = jadwalAktivitasTable.querySelector("thead tr");

        function updateTable() {
            var selectedLahan = selectLahan.value;
            var selectedStatus = selectStatus.value;

            // Loop through rows, including the header row
            Array.from(jadwalAktivitasTable.getElementsByTagName("tr")).forEach(function (row) {
                var lahanData = row.getAttribute("data-lahan");
                var statusData = row.getAttribute("data-status");

                // Display the header row regardless of the filter
                if (row === headerRow) {
                    row.style.display = "table-row";
                } else {
                    // Logika sesuai dengan kebutuhan Anda
                    console.log("Lahan data : "+lahanData)
                    console.log("Lahan terpilih : "+selectedLahan)
                    var lahanMatch = selectedLahan === "semua" || lahanData === selectedLahan;
                    var statusMatch = selectedStatus === "semua" || statusData === selectedStatus;

                    if (lahanMatch && statusMatch) {
                        row.style.display = "table-row";
                    } else {
                        row.style.display = "none";
                    }
                }
            });
        }

        // Event listeners untuk kedua dropdown
        selectLahan.addEventListener("change", updateTable);
        selectStatus.addEventListener("change", updateTable);

        // Inisialisasi pembaruan tabel saat halaman dimuat
        updateTable();
    });


    function changeStatus(button) {
        var status = button.textContent;
        var aktivitasId = button.closest('tr').getAttribute('data-aktivitasid');

        var data = { 'aktivitas_id': aktivitasId, 'new_status': getStatusAfterChange(status) };

        fetch('/update_statusActivity', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                button.textContent = data.new_status;

                switch (data.new_status) {
                    case 'Belum Selesai':
                        button.classList.remove('btn-warning', 'btn-success');
                        button.classList.add('btn-danger');
                        break;
                    case 'Progres':
                        button.classList.remove('btn-danger', 'btn-success');
                        button.classList.add('btn-warning');
                        break;
                    case 'Selesai':
                        button.classList.remove('btn-danger', 'btn-warning');
                        button.classList.add('btn-success');
                        break;
                }
            })
            .catch(error => console.error(currentStatus))
    }

    function getStatusAfterChange(currentStatus) {
        switch (currentStatus) {
            case 'Belum Selesai':
                return 'Progres';
            case 'Progres':
                return 'Selesai';
            case 'Selesai':
                return 'Belum Selesai';
            default:
                return currentStatus;
        }
    }



</script>
{% endblock %}