{% extends 'public/html/base.html' %}

{% block title %} FarmAdmin/Dashboard {% endblock %}

{% block profile_info %}
<a class="profile-pic" href="#">
    <img src="../static/plugins/images/users/varun.jpg" alt="user-img" width="36"
        class="img-circle">
    <span class="text-white font-medium">Muhammad Rizky Ramdhani</span>
</a>
{% endblock %}

{% block path %} Beranda {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Jumlah Lahan</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash"><canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-purple">6</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Jumlah Panen</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash2"><canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-purple">176.500.000</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Pendapatan</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash3"><canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-info">10.xxx.xxx.xxx</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Total Pengeluaran</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash3"><canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-info">13.xxx.xxx.xxx</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- STATISTIK LAHAN -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Statistik Lahan</h3>
                <div class="d-md-flex">
                    <ul class="list-inline d-flex ms-auto">
                        <li class="ps-3">
                            <h5><i class="fa fa-circle me-1 text-info"></i><a class="text-black-50"
                                    href="#">Lahan 1</a></h5>
                        </li>
                        <li class="ps-3">
                            <h5><i class="fa fa-circle me-1 text-inverse"></i><a class="text-black-50"
                                    href="#">Lahan 2</a></h5>
                        </li>
                        <li class="ps-3">
                            <h5><i class="fa fa-circle me-1 text-warning"></i><a class="text-black-50"
                                    href="#">Lahan 3</a></h5>
                        </li>
                        <li class="ps-3">
                            <h5><i class="fa fa-circle me-1 text-danger"></i><a class="text-black-50"
                                    href="#">Lahan 4</a></h5>
                        </li>
                        <li class="ps-3">
                            <h5><i class="fa fa-circle me-1 text-success"></i><a class="text-black-50"
                                    href="#">Lahan 5</a></h5>
                        </li>
                    </ul>
                </div>
                <div id="ct-visits" style="height: 50vh;">
                    <div class="chartist-tooltip" style="top: -17px; left: -12px;"><span
                            class="chartist-tooltip-value">6</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- AKTIVITAS HARIAN 2-->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="d-md-flex mb-3">
                    <h3 class="box-title mb-0">Jadwal Aktivitas Terdekat</h3>
                    <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                        <select class="form-select shadow-none row border-top">
                            <option>Semua Lahan</option>
                            <option>Lahan 1 </option>
                            <option>Lahan 2 </option>
                            <option>Lahan 3 </option>
                            <option>Lahan 4 </option>
                            <option>Lahan 5 </option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">Nomor</th>
                                <th class="border-top-0">Tanggal</th>
                                <th class="border-top-0">Aktivitas</th>
                                <th class="border-top-0">Status</th>
                                <th class="border-top-0">Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2023-11-13</td>
                                <td>Membaca</td>
                                <td><input type="checkbox" checked></td>
                                <td>Menyelesaikan buku favorit</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2023-11-14</td>
                                <td>Olahraga</td>
                                <td><input type="checkbox"></td>
                                <td>Melakukan jogging selama 30 menit</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>2023-11-15</td>
                                <td>Belajar</td>
                                <td><input type="checkbox" checked></td>
                                <td>Mempelajari pemrograman web</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>2023-11-16</td>
                                <td>Rapat Kerja</td>
                                <td><input type="checkbox"></td>
                                <td>Membahas proyek terkini</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>2023-11-17</td>
                                <td>Berkumpul dengan Teman</td>
                                <td><input type="checkbox" checked></td>
                                <td>Makan malam bersama teman-teman</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>2023-11-18</td>
                                <td>Liburan</td>
                                <td><input type="checkbox"></td>
                                <td>Merencanakan perjalanan liburan</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>2023-11-19</td>
                                <td>Membaca</td>
                                <td><input type="checkbox" checked></td>
                                <td>Membaca artikel tentang teknologi</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>2023-11-20</td>
                                <td>Olahraga</td>
                                <td><input type="checkbox"></td>
                                <td>Senam pagi selama 20 menit</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- TOTAL PENDAPATAN -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="d-md-flex mb-3">
                    <h3 class="box-title mb-0">Total Pendapatan</h3>
                    <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                        <select class="form-select shadow-none row border-top">
                            <option>Januari 2023</option>
                            <option>Februari 2023</option>
                            <option>Maret 2023</option>
                            <option>April 2023</option>
                            <option>Mei 2023</option>
                            <option>Juni 2023</option>
                            <option>Juli 2023</option>
                            <option>Agustus 2023</option>
                            <option>September 2023</option>
                            <option>Oktober 2023</option>
                            <option>November 2023</option>
                            <option>Desember 2023</option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">Nomor</th>
                                <th class="border-top-0">Tanggal</th>
                                <th class="border-top-0">Nama Barang</th>
                                <th class="border-top-0">Harga</th>
                                <th class="border-top-0">Jumlah (kwintal)</th>
                                <th class="border-top-0">Total</th>
                                <th class="border-top-0">Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="txt-oflo">26 Januari</td>
                                <td>Cabai</td>
                                <td><span class="txt-success">700.000</span></td>
                                <td><span class="txt-oflo">2 </span></td>
                                <td><span class="txt-oflo">1.400.000</span></td>
                                <td><span class="txt-oflo">Terjual</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- TOTAL PENGELUARAN -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="d-md-flex mb-3">
                    <h3 class="box-title mb-0">Total Pengeluaran</h3>
                    <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                        <select class="form-select shadow-none row border-top">
                            <option>Januari 2023</option>
                            <option>Februari 2023</option>
                            <option>Maret 2023</option>
                            <option>April 2023</option>
                            <option>Mei 2023</option>
                            <option>Juni 2023</option>
                            <option>Juli 2023</option>
                            <option>Agustus 2023</option>
                            <option>September 2023</option>
                            <option>Oktober 2023</option>
                            <option>November 2023</option>
                            <option>Desember 2023</option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">Nomor</th>
                                <th class="border-top-0">Tanggal</th>
                                <th class="border-top-0">Barang</th>
                                <th class="border-top-0">Harga</th>
                                <th class="border-top-0">Jumlah (kwintal)</th>
                                <th class="border-top-0">Total</th>
                                <th class="border-top-0">Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="txt-oflo">26 Januari</td>
                                <td>Cabai</td>
                                <td><span class="txt-success">350.000</span></td>
                                <td><span class="txt-oflo">2 </span></td>
                                <td><span class="txt-oflo">700.000</span></td>
                                <td><span class="txt-oflo">Sudah Lunas</span></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="txt-oflo">23 Januari</td>
                                <td>Ganja</td>
                                <td><span class="txt-success">30.000.000</span></td>
                                <td><span class="txt-oflo">4 </span></td>
                                <td><span class="txt-oflo">120.000.000</span></td>
                                <td><span class="txt-oflo">Lunas sebagian</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="txt-oflo">9 Januari</td>
                                <td>Timun</td>
                                <td><span class="txt-success">500.000</span></td>
                                <td><span class="txt-oflo">5 </span></td>
                                <td><span class="txt-oflo">2.500.000</span></td>
                                <td><span class="txt-oflo">Sudah Lunas</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="txt-oflo">10 Januari</td>
                                <td>Padi</td>
                                <td><span class="txt-success">1.500.000</span></td>
                                <td><span class="txt-oflo">2 </span></td>
                                <td><span class="txt-oflo">3.000.000</span></td>
                                <td><span class="txt-oflo">Sudah Lunas</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="txt-oflo">11 Januari</td>
                                <td>Jagung</td>
                                <td><span class="txt-success">2.000.000</span></td>
                                <td><span class="txt-oflo">2 </span></td>
                                <td><span class="txt-oflo">4.000.000</span></td>
                                <td><span class="txt-oflo">Sudah Lunas</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}