{% extends 'public/html/base.html' %}

{% block title %} FarmAdmin | Manajemen {% endblock %}

{% block profile_info %}
<a class="profile-pic" href="#">
  {% if profil_user.image %}
  <img src="{{ profil_user.image }}" alt="user-img" width="36" class="img-circle">
  {% else %}
  <img src="../static/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle">
  {% endif %}
  <span class="text-white font-medium">{{ profil_user.Nama_Penggilan }}</span>
</a>
{% endblock %}

{% block path %} Manajemen {% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <div class="container-fluid Manajemen Lahan pt-5 pb-5 Light text-align" ">
                <div class=" container">
          <h1 class="display-6 text-left" id="manajemenlahan">Manajemen Lahan</h1>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Nama Lahan</th>
                  <th scope="col">Luas Lahan (m)</th>
                  <th scope="col">Jenis Tanaman yang Ditanam</th>
                  <th scope="col">Lokasi Lahan</th>
                  <th scope="col">Deskripsi</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for lahan in lahan_data %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ lahan.nama }}</td>
                  <td>{{ lahan.luas }}</td>
                  <td>{{ lahan.jenis_tanaman }}</td>
                  <td>{{ lahan.lokasi }}</td>
                  <td>{{ lahan.deskripsi }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="tombol m1-auto">
              <button type="button" class="btn btn-primary text-white" data-bs-toggle="modal"
                data-bs-target="#ModalNewLahan"><i class="fas fa-plus" style="color: white;"></i> Tambah Lahan Baru
              </button>

              <div class="modal fade" id="ModalNewLahan" tabindex="-1" aria-labelledby="ModalNewLahanLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="ModalNewLahanLabel">Masukkan Data Lahan</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="POST" action="{{ url_for('manajemen') }}">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                          <label for="nama_lahan" class="col-form-label">Nama Lahan:</label>
                          {{ form.nama_lahan(class="form-control", id="nama_lahan", required="required") }}
                        </div>
                        <div class="mb-3">
                          <label for="luas_lahan" class="col-form-label">Luas Lahan:</label>
                          {{ form.luas_lahan(class="form-control", id="luas_lahan", required="required") }}
                        </div>
                        <div class="mb-3">
                          <label for="jenis" class="col-form-label">Jenis Tanaman:</label>
                          {{ form.jenis_tanaman(class="form-control", id="jenis_tanaman", required="required") }}
                        </div>
                        <div class="mb-3">
                          <label for="lokasi_lahan" class="col-form-label">Lokasi Lahan:</label>
                          {{ form.lokasi_lahan(class="form-control", id="lokasi_lahan", required="required") }}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}