{% extends 'public/html/base.html' %}

{% block title %} FarmAdmin | Profile {% endblock %}

{% block profile_info %}
<a class="profile-pic" href="#">
    {% if profil_user.image %}
    <img src="{{ profil_user.image }}" alt="user-img" width="36" class="img-circle">
    {% else %}
    <img src="../static/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle">
    {% endif %}
    <span class="text-white font-medium">{{ profil_user.Nama_Penggilan }}</span>
</a>
{% endblock %}

{% block path %} Profil {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-xlg-3 col-md-12">
            <div class="white-box">
                <div class="user-bg"> <img width="100%" alt="user"
                        src="../static/plugins/images/large/img1.jpg">
                    <div class="overlay-box">
                        <div class="user-content">
                            <a href="javascript:void(0)"><img src="../static/plugins/images/users/genu.jpg"
                                    class="thumb-lg img-circle" alt="img"></a>
                            <h4 class="text-white mt-2">{{ profil_user.Nama_Penggilan }}</h4>
                            <h5 class="text-white mt-2">{{ profil_user.email }}</h5>
                        </div>
                    </div>
                </div>
                <div class="user-btm-box mt-5 d-md-flex">
                    <div class="col-md-4 col-sm-4 text-center">
                        <h2>{{ profil_user.Nomor_Telepon }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xlg-9 col-md-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material">
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">Full Name</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input type="text" placeholder="{{ profil_user.Nama_Lengkap }}" class="form-control p-0 border-0">
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="exfarm-email" class="col-md-12 p-0">Email</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input type="email" placeholder="{{ profil_user.email }}"
                                    class="form-control p-0 border-0" name="exfarm-email" id="exfarm-email">
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">Phone</label>
                            <div class="col-md-12 border-bottom p-0">
                                <input type="text" placeholder="{{ profil_user.Nomor_Telepon }}"
                                    class="form-control p-0 border-0">
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label class="col-md-12 p-0">Bio</label>
                            <div class="col-md-12 border-bottom p-0">
                                <textarea rows="5" class="form-control p-0 border-0">{{ profil_user.Bio }}</textarea>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="form-group mb-4">
                                <div class="col-sm-12">
                                    <button class="btn btn-success">Update Profile</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

